# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Persisted config
backend/config.json

# Local storage shares (to prevent uploading large downloaded media files)
shares/

# ISO files
*.iso

# OS specific files
.DS_Store
Thumbs.db
